* {
   margin:0;
   padding:
}

body {
   background-image:
}

header {
   background-color:
   width:
   position:
   height:
}

#logo {
   float:
   padding-top:
   margin-left:
   margin-top:
   padding-bottom:
}

nav {
   float:right;
   text-align:justify;
   padding-right:10px;
   margin-top:10px;
}
li {
   display:inline-block;
   margin-right:2px;
   margin-bottom:5px;
   color:blue;
}

a {
   text-decoration: none;
}

li a {
   display:block;
   padding:10px 15px;
}

li a:hover {
   background-color:blue;
   color: #FFFFFF;
}

h1 {
   padding-top: 100px;
   color: rgb(95, 93, 93);
   text-align:center;
   margin-bottom:20px;
   font-size: 40px;
}

h3 {
   color:blue;
   padding-bottom:10px;
}

#article-list article {
	width:50em;
   margin-left:auto;
   margin-right:auto;
   text-align:left;
   background-color:white;
   padding:15px;
   margin-bottom:5px;
}

footer {
   width: auto;
   background-color:black;
   color:white;
   text-align:center;
   padding:10px;
   font-size:15px;
   margin-top:5px;

}
